@use '../../modules/variables';
@use '../../modules/mixins' as *;

@include font-face('Proxima Nova', 'http://localhost:8080/assets/fonts/ProximaNova-Light', 300, normal, woff2 woff);
@include font-face('Proxima Nova', 'http://localhost:8080/assets/fonts/ProximaNova-Regular', 400, normal, woff2 woff);
@include font-face('Proxima Nova', 'http://localhost:8080/assets/fonts/ProximaNova-Semibold', 600, normal, woff2 woff);
@include font-face('Proxima Nova', 'http://localhost:8080/assets/fonts/ProximaNova-Bold', 700, normal, woff2 woff);
@include font-face('Proxima Nova', 'http://localhost:8080/assets/fonts/ProximaNova-Extrabld', 800, normal, woff2 woff);
@include font-face('Proxima Nova', 'http://localhost:8080/assets/fonts/ProximaNova-Black', 900, normal, woff2 woff);

.layout {
  color: variables.$color-text--primary;
  background-color: variables.$color-background--primary;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-weight: 400;

  &__header {
    padding: 22px 36px 30px 36px;
  }

  &__main {
    padding-left: 29px;
    padding-right: 36px;
  }
}

.header-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 17px;
}

.header-mid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 26px;
  justify-content: space-between;
}

.header-bot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 43px;
  padding-top: 14px;
  gap: 27px;
}

.left-sidebar {
  position: fixed;
  width: 243px;
}