@use '../../modules/variables';

.product-filters {
  position: relative;
  border: 1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(variables.$color-background--secondary, variables.$color-background--secondary), 
                    linear-gradient(#84D52C5C, #5f92275c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;

  &__wrapper {
    position: relative;
    z-index: 2;
    margin: 10px 21px 13px 15px;
    list-style-type: none;
  }

  &__section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: color 0.2s ease-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: variables.$color-accent--additional;
    }

    &:hover .product-filters__tab-icon {
      fill: variables.$color-accent--additional;
    }
  }

  &__section {

    &--show .product-filters__filters {
      display: block;
    }
  }

  &__section-header {
    margin-bottom: 12px;
  }

  &__section-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24.3px;
  }

  &__tab-icon {
    width: 12px;
    height: 7px;
    fill: variables.$color-element--primary;
    transform: rotate(180deg);
    transition: fill 0.2s ease-out, transform 0.3s ease-out;
  }

  &__filters {
    display: none;
    list-style-type: none;
  }

  &__filter {
    font-weight: 600;
    line-height: 23.52px;
    padding-bottom: 5px;

    &:last-of-type {
      padding-bottom: 14px;
    }
  }

  &__filter-input {
    display: none;

    &:checked + .product-filters__filter-label {
      color: variables.$color-text--primary;
    }

    &:checked + .product-filters__filter-label:before {
      content: url('../assets/media/filter-check.svg');
      background: linear-gradient(0deg, variables.$color-accent--primary, variables.$color-accent--primary),
                  linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 94.16%);
      box-shadow: inset 3px 5px 15px #FFFFFF5C;
      opacity: 100%;
      border-color: variables.$color-accent--primary;
    }
  }

  &__filter-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    color: variables.$color-text--non-active;
    user-select: none;

    &:before {
      display: flex;
      justify-content: center;
      align-items: center;
      content: '';
      width: 14px;
      height: 14px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      margin-right: 5px;
      margin-bottom: 2px;
      opacity: 50%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__background {
    position: absolute;
    top: 265px;
    left: -55px;
    z-index: 1;
    width: 208px;
    height: 219px;
    fill: variables.$color-element--primary;
  }
}