@use '../../modules/variables';

.choosen-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  &__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    border-radius: 20px;
    background-color: #297019;
    user-select: none;
    transition: background-color 0.2s ease-out;

    &:hover {
      cursor: pointer;
      background-color: variables.$color-accent--secondary;

      .choosen-filters__remove-icon {
        fill: variables.$color-accent--primary;
      }
    }
  }

  &__name {
    font-size: 12px;
    line-height: 16.2px;
    height: 1.25em;
  }

  &__remove-icon {
    width: 18px;
    height: 19px;
    margin-left: 2px;
    fill: #58AA46E5;
    transition: fill 0.2s ease-out;
  }
}