$color-background--primary: #171722;
$color-background--secondary: #353542;
$color-background--additional: #212129;
$color-text--primary: #FFFFFF;
$color-text--non-active: #959595;
$color-element--primary: #959595;
$color-accent--primary: #84D52C;
$color-accent--secondary: #6BAB2B;
$color-accent--additional: #85D62D;